#taskListContainer {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  background-color: lightgray;
  padding: 30px;
}

input {
  width: 70%;
}

.valid {
  border-color: green;
  background-color: lightgreen;
}

.invalid {
  border-color: red;
  background-color: lightcoral;
}
